/* General form styling */
form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 250px auto 100px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}